<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="caja-roja">
    <header class="caja-morada">
        <h1>BARRA DE HERRAMIENTAS</h1>
    </header>

    <aside class="caja-celeste">
        <article class="caja-verde">
            <h2>CONTENIDO SECUNDARIO</h2>
        </article>

        <article class="caja-azul">
            <div class="caja-naranja">
                <h2>SUB BARRA DE HERRAMIENTAS</h2></div>
            <div class="caja-rosada"></div>
            
        </article>
    </aside>

</body>

</html>